<config platform="win32-sim" template="win32-sim (default)">Created: Di 29. Apr 08:16:23 2014
By: Kevin Meergans
Using Template: win32-sim (default)

&lt;description to go here><option name="win32-icon" value="" fromDef="true"/>
    <option name="target-dir" value="" fromDef="true"/>
    <option name="win32-inno-name" value="" fromDef="true"/>
    <option name="win32-inno-text" value="" fromDef="true"/>
    <option name="win32-inno-bmp" value="" fromDef="true"/>
    <option name="win32-inno-icon" value="" fromDef="true"/>
    <option name="icon" value="" fromDef="true"/>
    <option name="splashscreen" value="" fromDef="true"/>
    <option name="splashscreen-use-all" value="" fromDef="true"/>
    <option name="splashscreen-auto-onblack" value="" fromDef="true"/>
    <option name="assets" value="Default" fromDef="true"/>
    <option name="embed-icf" value="" fromDef="true"/>
    <option name="config" value="data/app.icf" fromDef="true"/>
    <option name="name" value="SFAS" fromDef="true"/>
    <option name="caption" value="SFAS" fromDef="true"/>
    <option name="provider" value="Kevin Meergans" fromDef="true"/>
    <option name="copyright" value="(C) Kevin Meergans" fromDef="true"/>
    <option name="version" value="0.0.1" fromDef="true"/>
    <option name="version-string" value="" fromDef="true"/>
</config>
